#Names {
  border-radius: 12px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: skyblue;
  font-size: large;
  color: black;
  margin-bottom: 1em;
}
body {
  margin: 50px;
}
.col-md-4 {
  display: flex;
}
.btn {
  margin-left: 20px;
}
